<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
  <title>Burda</title>
</head>

<body>
  <!-- Navbar Component -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Andrii Burda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">



        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Home', '/pages/welcome' %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Portfolio', '/pages/portfolio' %></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Contact us', '/pages/portfolio' %></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'About us', '/pages/portfolio' %></a>
        </li>


        </ul>

        </div>


        </nav>
        <!--jbmbotron-->

        <div class="jumbotron jumbotron-fluid" style="background:url(https://i.postimg.cc/K81j0CCp/2022-10-14-12-00-18.jpg) no-repeat; background-size: cover;">
  <div class="my-5"><h1 class="display-5"><p class="text-white bg-primary text-center">My portfolio</p></h1></div>


<p><%= link_to 'hui', '/pages/portfolio' %></p>

</div>
        <!--kartka-->
<div class="row justify-content-center">
  <div class="col-8 col-md-4">
        <div class="card" style="">
  <img src="https://i.postimg.cc/9Q4bnQDd/asd.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">My portfolio</h5>
    <p class="card-text">Some quick example of my skills in Ruby on rails.</p>
    <a href="#" class="btn btn-primary">View my Work</a>
  </div>
</div>
</div>
</div>
<footer class="text-center">2022 Burda &copy;
</footer>

<!-- Bootstrap's JavaScript Files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>
